---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="InvernaTec - Invernadero de Alta Tecnología">
  <Header />
  <main class="flex justify-center items-center flex-col min-h-screen relative">
    <h1 class="text-white italic text-6xl font-bold drop-shadow-lg">
      Your high-tech greenhouse
    </h1>
    <p class="text-white drop-shadow-lg">
      Transforming Cultivation with Cutting-Edge Technology for a Sustainable
      Future
    </p>
    <img
      src="/public/svgs/sprout-svgrepo-com.svg"
      alt=""
      class="absolute -z-10 xl:-bottom-52 2xl:bottom-0"
    />
  </main>
  <section class="min-h-screen bg-white flex flex-row">
    <div
      class="w-full flex flex-col justify-center items-center text-left text-gray-800 bg-[#ecca9d] p-16 gap-8"
    >
      <h3 class="italic text-5xl">
        Hire the right greenhouse to be successful
      </h3>
      <p>
        Greenhouse is a complete hiring platform that helps you hire fairly and
        purposefully. With Greenhouse, hiring isn’t just a task – it’s a pivotal
        part of your overall strategy that we can help you get right, every
        time.
      </p>
    </div>
    <div class="w-full">
      <img src="/public/concurso.webp" alt="" class="h-full object-cover" />
    </div>
  </section>
  <section class="min-h-screen bg-white flex">
    <div
      class="w-full p-10 flex justify-center items-center border-r-2 my-14 border-gray-40"
    >
      <p class="italic text-4xl">The technologies that helped us achieve it</p>
    </div>
    <div
      class="w-full grid grid-rows-3 grid-cols-2 justify-items-center items-center"
    >
      <img class="max-h-24" src="/public/svgs/node-js-svgrepo-com.svg" alt="" />
      <img class="max-h-24" src="/public/svgs/express-svgrepo-com.svg" alt="" />
      <img class="max-h-24" src="/public/svgs/php-svgrepo-com.svg" alt="" />
      <img
        class="max-h-24"
        src="/public/svgs/javascript-svgrepo-com.svg"
        alt=""
      />
      <img class="max-h-24" src="/public/svgs/iot-svgrepo-com.svg" alt="" />
      <img
        class="max-h-24"
        src="/public/svgs/mysql-logo-svgrepo-com.svg"
        alt=""
      />
    </div>
  </section>
  <Footer />
</Layout>
