---

---

<footer class="bg-gray-800 text-gray-300 py-8">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <!-- Navegación -->
    <div class="flex flex-col md:flex-row items-center mb-4 md:mb-0">
      <a href="/" class="text-gray-300 hover:text-white px-4 py-2">Home</a>
      <a href="/AboutUs" class="text-gray-300 hover:text-white px-4 py-2"
        >About Us</a
      >
      <a href="/Contact" class="text-gray-300 hover:text-white px-4 py-2"
        >Contact</a
      >
      <a href="/Gallery" class="text-gray-300 hover:text-white px-4 py-2"
        >Gallery</a
      >
    </div>

    <!-- Derechos de autor -->
    <div class="text-center md:text-right">
      <p>&copy; 2024 High Tech Greenhouse. All rights reserved.</p>
    </div>
  </div>
</footer>
