---

---

<div class="flex bg-white items-center justify-around">
  <div class="flex items-center gap-2">
    <a href="/">
      <img src="/public/logo.webp" alt="Logo-InvernaTec" width="50" />
    </a>
    <nav class="p-4 flex justify-between gap-10">
      <ul class="flex gap-4 text-gray-600">
        <li class="hover:text-gray-400"><a href="/">Home</a></li>
        <li class="hover:text-gray-400"><a href="/AboutUs">About us</a></li>
        <li class="hover:text-gray-400"><a href="/Contact">Contact</a></li>
        <li class="hover:text-gray-400"><a href="/Gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
  <div class="flex gap-4">
    <button
      class="bg-white-400 py-2 px-8 rounded-2xl text-black border border-black hover:bg-green-200"
      >Sign In</button
    >
    <button class="bg-sky-500 py-2 px-8 rounded-2xl text-white hover:bg-sky-800"
      >Request a demo</button
    >
  </div>
</div>
